/*-----------------------------------*/


/* Counter-container-START */


/*-----------------------------------*/

.count-m-container {
    padding: 0.8rem;
}

.count-container {
    font-family: "Product Sans";
    padding: 4px;
    justify-content: space-around;
}

.count-row1-box {
    display: flex;
    padding: 5px;
    font-family: "Product Sans";
    justify-content: space-around;
    text-align: center;
    flex-flow: wrap;
    width: 100%;
    margin-bottom: 5px;
}

.count-row2-box {
    display: flex;
    padding: 5px;
    font-family: "Product Sans";
    justify-content: space-around;
    text-align: center;
    flex-flow: wrap;
    width: 100%;
}

.count-s-box {
    margin-bottom: 0px;
    padding: 5px;
}

.count-s-box h2 {
    font-size: 35px;
    font-weight: 500;
    padding: 8px;
    color: #1a73e8;
    margin-bottom: 5px;
}

.count-s-box p {
    font-weight: 400;
    font-size: 15px;
    color: rgba(94, 94, 94, 0.945);
}

@media screen and (min-width: 1020px) {
    .count-m-container {
        padding: 2rem;
    }
    .count-container {
        display: flex;
    }
    .count-row1-box {
        flex-direction: row !important;
    }
    .count-row2-box {
        flex-direction: row !important;
    }
    .count-s-box h2 {
        font-size: 2.5rem;
        margin-bottom: 0px;
    }
    .count-s-box p {
        font-size: 1.1rem;
    }
}

.endbox {
    padding: 80px;
    margin-bottom: 100px;
}


/*-----------------------------------*/


/* Counter-container-ENDS */


/*-----------------------------------*/