.hero-l-con-sec {
    padding: 20px;
    font-family: "Product Sans";
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.hero-m-con-sec {
    padding: 10px 60px;
    display: flex;
    background-position: center;
    margin: 20px;
}

.hero-s-sec-left {
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.hero-sec-img {
    height: 100px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.hero-time-line-date {
    display: flex;
    padding: 5px 0px;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    justify-content: left;
    margin-top: -30px;
    margin-left: 10px;
    font-weight: 600;
}

.clock-container {
    padding: 10px 5px;
}

.clock-timer {
    color: #333;
    margin: 0 auto;
    text-align: center;
}

.clock-container h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 8px;
    font-size: 12px;
}

#clock-countdown li {
    display: inline-block;
    font-size: 14px;
    list-style-type: none;
    padding: 5px;
    text-transform: capitalize;
    text-align: center;
}

#clock-countdown li span {
    display: block;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    height: 26px;
    width: 40px;
    background-color: #353434;
    border-radius: 4px;
    border: 1px solid rgb(220, 234, 255);
    background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255);
    box-shadow: rgb(220, 234, 255) 0px 1.2px 6px;
}

i.timer-dot {
    display: inline-block;
    font-size: 25px;
    transform: translateY(-42px);
}

.clock-message {
    font-size: 20px;
}

#clock-content {
    display: none;
    padding: 15px;
}

.emoji {
    padding: 5px;
}

.hero-time-line-date h2 {
    padding: 0px 20px;
}

.hero-s-sec-left p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    padding: 10px;
    color: #353434;
}

.hero-s-sec-left i {
    font-weight: 600;
    color: #000000;
}

.hero-sec-right-outer {
    padding: 5px;
}

.hero-s-sec-right {
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 10px;
}

.hero-section-right-img {
    height: 450px;
}

.register-follow-button {
    margin-bottom: 15px;
    padding: 5px;
}

.register-btn,
.get-your-badge {
    font-size: 15px;
    text-decoration: none;
    padding: 10px 35px;
    margin: 10px 5px;
    border-radius: 4px;
}

.register-btn {
    color: #fff;
    background-color: #1273EB;
    border: 1px solid #1273EB;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0 3px 8px rgba(18, 116, 237, 0.25);
}

.register-btn:hover {
    background-color: #0b5cbe;
    border: 1px solid #0b5cbe;
}

.get-your-badge {
    color: #1273EB;
    background-color: #fff;
    border: 1px solid #85858563;
}

.get-your-badge:hover {
    background-color: #1274eb0c;
}

.hashtags-btn {
    font-size: 15px;
    text-decoration: none;
    padding: 10px 30px;
    color: #0005DF;
    background-color: #ffffff;
    border-radius: 4px;
    font-weight: 500;
}

.hashtags-btn:hover {
    background-color: #1274eb0c;
}

@media screen and (max-width: 1020px) {
    .hero-l-con-sec {
        padding: 10px;
    }
    .hero-m-con-sec {
        flex-direction: column-reverse;
        padding: 5px;
        margin: 0px;
    }
    .hero-s-sec-left {
        padding: 5px;
        margin: 0px;
    }
    .hero-s-sec-right {
        padding: 5px;
        margin: 10px 5px;
    }
    .hero-section-right-img {
        height: 230px;
    }
    .hero-sec-img {
        height: 90px;
        margin-bottom: 5px;
    }
    .hero-time-line-date {
        padding: 6px 2px;
        margin-bottom: 12px;
        margin-top: -20px;
    }
    .hero-s-sec-left p {
        padding: 5px;
        margin-bottom: 5px;
    }
}

@media all and (max-width: 768px) {
    .clock-container h1 {
        font-size: 14px;
    }
    #clock-countdown li {
        font-size: 13px;
        padding: 10px;
    }
    #clock-countdown li span {
        font-size: 22px;
        padding: 10px;
        width: 35px;
        box-shadow: rgb(220, 234, 255) 0px 0.9px 6px;
    }
    i.timer-dot {
        transform: translateY(-33px);
    }
    div#clock-countdown {
        margin-left: -20px;
        margin-right: -20px;
    }
    .register-btn,
    .get-your-badge {
        padding: 10px 22px;
        font-size: 15px;
    }
    .register-follow-button {
        margin-bottom: 8px;
        margin-left: -10px;
    }
    .hashtags-btn {
        padding: 8px 20px;
    }
}